Request.accepts should handle missing Accept-Header differently

## Situation
- The Request does NOT have an Accept header
- `Request.accepts` is called with with one / multiple content type:
  ```js
  const type = ctx.request.accepts('application/json');
  ```

## Current Behavior
The function returns `undefined`, implying that none of the given types is acceptable.

## Expected Behavior
My understanding always was that the Accept header is optional and just to limit accepted content types. If omitted the request just accepts any content type.

A quick look at the spec shows that I am right with this assumption:
> A request without any Accept header field implies that the user agent will accept any media type in response.

– [RFC 7231 Section 5.3.2](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.2)

**:arrow_right: So the function should return `"application/json"` instead of `undefined`**

## Further (optional) adjustments
After this change, it can be a bit confusing that an `accepts`-call with no types on a request with no Accept header still returns `undefined`.
```js
// request has no Accepts-Header
ctx.request.accepts() // -> undefined
```
Considering that in all other cases `undefined` means that no content type is acceptable, perhaps `["*/*"]` should be returned instead?

## PS
According to the docs the same issue applies for all the other accept... methods (`acceptsCharsets`, `acceptsEncodings`, `acceptsLanguages`)


@kitsonk Do not forget to update the README 🙈 